@import url(./variables.css);

.header {
  background-image: url(../images/home-header-bg.png);
}

/* main */

.main-desc {
  font-size: 36px;
  text-align: center;
  color: var(--blueColor);
  padding-top: 103px;
  margin-bottom: 69px;
}

.performances {
  display: flex;
  flex-direction: column;
  row-gap: 69px;
}

.performance {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 90px;
}

.performance-info {
  max-width: 540px;
}

.performance-wrapper {
  display: flex;
  align-items: center;
}

.performance-border {
  height: 334px;
  width: 1px;
  background: var(--blueColor);
  margin-right: 48.5px;
}

.performance-title {
  color: var(--blueColor);
  font-size: 60px;
  text-align: center;
  font-family: 'Fenix';
}

.performance-desc {
  font-size: 25px;
  color: var(--blueColor);
}

.performance img {
  width: 100%;
}

.main-btn {
  margin-top: 103px;
  margin-bottom: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn button {
  background-color: var(--secondary);
  color: var(--blueColor);
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  padding: 18px 63px 18px 69px;
}

@media (max-width: 1160px) {
  .performance-title {
    font-size: 33px;
  }
  .performance-desc {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  .performance {
    flex-direction: column;
  }
  .performance-info {
    text-align: center;
  }
  .performance-desc {
    display: none;
  }
  .performance-border {
    display: none;
  }
}
