@import url(./variables.css);

.header {
  background-image: url(../images/rooms-header-bg.png);
}
.header::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(20, 39, 74, 0.5);
}

/* main */

.section-desc {
  margin-bottom: 82px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-desc h4 {
  margin-top: 84px;
  font-family: 'Adobe Garamond Pro';
  font-weight: 700;
  font-size: 60px;
  color: var(--blueColor);
  margin-bottom: 34px;
}
.section-desc p {
  text-align: center;
  font-size: 25px;
  color: var(--blueColor);
}

.room-info {
  display: flex;
  flex-direction: column;
}

.rooms {
  display: flex;
  flex-direction: column;
  row-gap: 82px;
  margin-bottom: 135px;
  align-items: center;
}

.room {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--blueColor);
  border-radius: 15px;
  width: 85%;
}

.room > img {
  width: 100%;
}

.room-title {
  background-color: var(--blueColor);
  color: var(--primary);
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  padding: 25px 0;
}

.room-desc {
  display: flex;
  justify-content: space-between;
  padding: 55px 120px;
}

.room-detail {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: var(--blueColor);
  font-weight: 700;
  font-size: 22px;
  background: inherit;
}

.room-price {
  padding: 20px 39px;
  font-weight: bold;
  font-size: 22px;
  color: var(--primary);
  background: var(--secondary);
  border-radius: 20px;
}

.room-price:hover {
  transform: translateY(-2px) scale(1.02);
  background: #ffd381;
  transition: transform 0.3s ease, background 0.3s ease;
  /* filter: blur(1px); */
}
